<div class="banner">
  <div class="container">
    <h1>Drewatch</h1>
    <p>Watch movies. Make memories</p>
  </div>
</div>



<ul>
  <% @lists.each do |list| %>
    <%= link_to list.name, list_path(list.id) %>
  <% end %>
</ul>



<%= link_to 'Add list', new_list_path %>
