<div class="banner">
  <div class="container">
    <h1>Drewatch</h1>
    <p>Watch movies. Make memories</p>
  </div>
</div>

<div class="container mt-3">
  <ul class="list-grid">
    <% @lists.each do |list| %>
      <li>
        <div class="card-category">
          <%= link_to list.name, list_path(list.id) %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
